<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="b8131ffc-7282-49c5-ac4c-d2484b8e30f4" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://eclipselab1.vf.rogers.com" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="b8131ffc-7282-49c5-ac4c-d2484b8e30f4fileName">http%3A%2F%2Feclipselab1.vf.rogers.com</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://eclipselab1.vf.rogers.com</con:endpoint></con:endpoints></con:interface>